body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  padding-top: 70px;
  padding-left: 500px;
  /* height: 3000px; */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.left-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.left-section img {
  width: 32px;
}
.left-section img:hover{
  cursor:pointer;
}
.middle-section {
  display: flex;
  align-items: center;
  margin-left: 130px;
}
.home-button {
  background-color: #1f1f1f;
  padding: 8px 10px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.home-button img {
  height: 28px;
}
.home-button:hover{
  cursor:pointer;
  transform: scale(1.1);
}

.search-area {
  display: flex;
  margin-left: 7px;
  background-color: #1f1f1f;
  padding: 0px 12px;
  border-radius: 30px;
  max-width: 450px;
  align-items: center;
}

.search-area input {
  margin-left: 10px;
  background-color: #1f1f1f;
  border: none;
  outline: none;
  width: 300px;
  height: 48px;
  caret-color: white;
  color: white;
  font-size: 17px;
}

.search-area input::placeholder {
  font-family: arial;
  font-size: 15px;
  font-weight: 600;
  color: rgb(180, 180, 180);
}
.search-area:focus-within{
  border: 2px solid white;
}
.search-area:hover input,.search-area:hover{
  background-color: #333333;
  cursor: pointer;
}

.browser-icon {
  height: 30px;
}
.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sign-up,
.log-in {
  font-family: arial;
  font-size: 15px;
  font-weight: 600;
  color: rgb(187, 187, 187);
  transition: all 0.1s ease-in-out;
}
.log-in {
  background-color: white;
  color: black;
  padding: 15px 30px;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 30px;
}
.sign-up:hover {
  color: white;
  cursor:pointer;
  transform: scale(1.05);
}
.log-in:hover{
  cursor:pointer;
  transform: scale(1.05);
}